###################################
# Run configuration - Extract reads
###################################

# Should be static
inputdir: "input"
outdir: "output"
logdir: "logs"

# Change these as needed
sample_pattern: "classifications/{sample}.kraken2.gz"             # The pattern of the Kraken 2 output files (determines the samples to process)
fastq_file_pattern: "fastq/{sample}_{direction}.fastq.gz"         # The pattern of the fastq files to extract reads from
taxonomy_names: "supporting_files/names.dmp"                      # Taxonomy names.dmp files (use the same as used for the Kraken 2 classification)
taxonomy_nodes: "supporting_files/nodes.dmp"                      # Taxonomy nodes.dmp files (use the same as used for the Kraken 2 classification)
tax_ids_file: "supporting_files/tax_ids.txt"                      # File containing the tax IDs to extract reads for (one tax ID per line)
mode: clade                                                       # Choose between {single, clade}. 
                                                                  # Single: extract reads hitting exactly the specified tax ID(s).
                                                                  # Clade: extract all reads hitting any taxa in the clade rooted at the specified tax ID(s)
include: True                                                     # Extract (True) or Filter (False) the reads classified to the specified Tax ID(s).