cluster:
  jobscript: "slurm-jobscript.sh"
  submitcmd: "sbatch {dependencies}"

jobs: 500

# Default resources
default-resources:
    slurm_account: "hpc2n2026-053"
    slurm_partition: "batch"
    runtime: "30m"
    mem_mb: 2000
    cpus_per_task: 2

# Job-specific resources
set-resources:
    getAll_taxID_readIDs:
        runtime: "180m"
        mem_mb: 3000

    extract_taxID_reads:
        runtime: "180m"
        mem_mb: 6000
