cluster:
  jobscript: "slurm-jobscript.sh"
  submitcmd: "sbatch --account={resources.slurm_account} --partition={resources.slurm_partition} --time={resources.runtime} --cpus-per-task={threads} --mem={resources.mem_mb}M {dependencies}"

jobs: 1000

# Default resources
default-resources:
    slurm_account: "hpc2n2026-053"
    slurm_partition: "batch"

# Job-specific resources
set-resources:
    getAll_taxID_readIDs:
        runtime: "180m"
        mem_mb: 3000